.ot101.averageConsumption path {
  fill: #5DC221;
}

.ot101.averageConsumption .icons, .ot101.averageConsumption .label {
  fill: #5DC221;
}

.ot101.averageConsumption line {
    stroke: #5DC221;
    stroke-width: 2px;
}

.ot101.consumption path {
  fill: #DECD26;
}

.ot101.consumption .icons, .ot101.consumption .label {
  fill: #DECD26;
}

.ot101.consumption line {
    stroke: #DECD26;
    stroke-width: 2px;
}

.ot101.consumption {
    color: #DECD26;
}

.ot101.averageEffConsumption path {
  fill: #CC234A;
}

.ot101.averageEffConsumption .icons, .ot101.averageEffConsumption .label {
  fill: #CC234A;
}


.ot101.averageEffConsumption line {
    stroke: #CC234A;
    stroke-width: 2px;
}

.ot101 .value {
  fill: white;
  font-family: sans-serif;
  text-anchor: middle;
  font-weight: bolder;
}


.ot103 .legend text {
    font-size: 12px;
    font-weight: bold;
}

.ot103 .line {
  fill: none;
  stroke-width: 2.5px;
}

.ot103 .line.averageConsumption {
  stroke: #5DC221;
}

.ot103 .legend .averageConsumption {
  fill: #5DC221;
}

.ot103 .line.consumption {
  stroke: #DECD26;
}

.ot103 .legend .consumption {
    fill: #DECD26;
}

.ot103 .line.averageEffConsumption {
  stroke: #CC234A;
}

.ot103 .legend .averageEffConsumption {
    fill: #CC234A;
}

.ot103 .point {
    stroke-width: 2px;
    stroke: #fff;

}

.point.averageConsumption {
    fill: #5DC221;
}

.point.consumption {
    fill: #DECD26;
}

.point.averageEffConsumption {
    fill: #CC234A;
}

.axis path,
.axis line {
  fill: none;
  stroke-width: 1px;
  stroke: #ccc;
}

.x.axis line {
    stroke-width: 1px;
    stroke: #ccc;
}

.axis path, .y.axis line {
    display: none;
}

.x.vertical {
    stroke-width: 1px;
    stroke: #ccc;
}

.ot103 text {
    font: 10px sans-serif;
}

.ot201 .value {
  fill: white;
  font-family: sans-serif;
  text-anchor: middle;
  font-weight: bolder;
}

.ot201.previousConsumption path {
  fill: #901990;
}

.ot201.previousConsumption .icons, .ot201.previousConsumption .label {
  fill: #901990;
}

.ot201.previousConsumption line {
    stroke: #901990;
    stroke-width: 2px;
}

.ot201.previousConsumption {
    color: #901990;
}

.ot201.consumption path {
  fill: #DECD26;
}

.ot201.consumption .icons, .ot201.consumption .label {
  fill: #DECD26;
}

.ot201.consumption line {
    stroke: #DECD26;
    stroke-width: 2px;
}

.ot201.consumption {
    color: #DECD26;
}

.ot401 .tip {
    float: left;
    width: 300px;
    padding-left: 5px;
}

.ot401 .tip .icon {
    float: left;
    margin-right: 8px;
}


.cch .plot {
    fill: rgba(250, 250, 255, 0);
}
.cch .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.cch .grid path {
    stroke-width: 0;
}
.cch .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.cch path.area {
    fill: lightsteelblue;
}

.cch .x.axis path {
    display: none;
}
.cch .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.cch .focus circle {
  fill: steelblue;
  stroke: steelblue;
}

.cch .focus text {
    font-weight: bold;
    fill: #000;
}



/* Fonts */
/* Generated by Glyphter (http://www.glyphter.com) on  Wed Aug 05 2015*/
@font-face {
    font-family: 'empowering';
    src: url('fonts/empowering.eot');
    src: url('fonts/empowering.eot?#iefix') format('embedded-opentype'),
         url('fonts/empowering.woff') format('woff'),
         url('fonts/empowering.ttf') format('truetype'),
         url('fonts/empowering.svg#empowering') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'empowering';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-TIP_5:before{content:'\0041';}
.icon-TIP_2:before{content:'\0042';}
.icon-TIP_3:before{content:'\0043';}
.icon-TIP_1:before{content:'\0044';}
.icon-TIP_4:before{content:'\0045';}