.ot101.averageConsumption path {
  fill: #5DC221;
}

.ot101.averageConsumption .icons {
  fill: #5DC221;
}

.ot101.averageConsumption line {
    stroke: #5DC221;
    stroke-width: 3px;
}

.ot101.consumption path {
  fill: #DECD26;
}

.ot101.consumption .icons {
  fill: #DECD26;
}

.ot101.consumption line {
    stroke: #DECD26;
    stroke-width: 3px;
}

.ot101.averageEffConsumption path {
  fill: #CC234A;
}

.ot101.averageEffConsumption .icons {
  fill: #CC234A;
}


.ot101.averageEffConsumption line {
    stroke: #CC234A;
    stroke-width: 3px;
}

.ot101 text {
  fill: white;
  font: 20px sans-serif;
  text-anchor: middle;
  font-weight: bolder;
}

.line {
  fill: none;
  stroke-width: 2.5px;
}

.line.averageConsumption {
  stroke: #5DC221;
}

.line.consumption {
  stroke: #DECD26;
}

.line.averageEffConsumption {
  stroke: #CC234A;
}

.point {
    stroke-width: 2px;
    stroke: #fff;

}

.point.averageConsumption {
    fill: #5DC221;
}

.point.consumption {
    fill: #DECD26;
}

.point.averageEffConsumption {
    fill: #CC234A;
}

.axis path,
.axis line {
  fill: none;
  stroke-width: 1px;
  stroke: #ccc;
}

.x.axis line {
    stroke-width: 1px;
    stroke: #ccc;
}

.axis path, .y.axis line {
    display: none;
}

.x.vertical {
    stroke-width: 1px;
    stroke: #ccc;
}

.ot103 text {
    font: 10px sans-serif;
}